* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  min-height: 100vh; 
  margin: 0; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; 
  height: 100vh; 
  background-color: #ffffff; 
  color: #000;
  padding: 20px;
  border-right: 1px solid #e0e0e0;
  box-sizing: border-box;
  overflow-y: auto; 
  z-index: 10; 
}


.main {
  flex: 1;
  margin-left: 250px; 
  padding-top: 80px; 
  padding: 0px;
  background-color: #f9f9f9;
  overflow: auto;
  min-height: 100vh; 
}


.sidebar h1,
.sidebar h2,
.sidebar .location,
.sidebar p {
  margin-left: 0; 
}

.links {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.links a {
  display: inline-block;
}

.title {
  font-size: 20px;
  font-weight: 300; 
  color: #666;
  margin-bottom: 10px;
}

.location {
  display: flex;
  align-items: left;
  justify-content: left;
  color: #666;
  font-size: 14px;
  margin-bottom: 15px;
}

.location-icon {
  margin-right: 5px;
}

.description {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  align-items: left;
  justify-content: left;
  color: #333;
  margin-top: 10px;
  margin-bottom: 15px;
}

.sidebar h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}

.sidebar p {
  font-size: 16px;
  margin-top: 10px; 
  color: #000; 
}

.profile-photo {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin-top: 10px; 
	margin-bottom: 15px;
}

.links a {
  display: inline-block;
  margin: 10px;
  transition: transform 0.3s;
}

.links .icon {
  width: 40px; 
  height: 40px;
  margin: 5px;
  transition: transform 0.3s;
}

.links .icon:hover {
  transform: scale(1.1);
}

.links a:hover {
  transform: scale(1.1);
}



/* Navbar*/
nav {
  position: fixed;
  top: 0;
  left: 250px; /* Aligning navbar with edge of the sidebar */
  right: 0;
  height: 60px; 
  background-color: #ffffff;
  padding: 0 20px; 
  display: flex;
  align-items: center; 
  gap: 20px;
  border-bottom: 1px solid #e0e0e0;
  z-index: 10;
  box-sizing: border-box;
  justify-content: flex-start; 
}


.nav-item {
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-item:hover {
  background-color: #e0e4e4;
  color: #000;
  cursor: pointer;
}

.nav-item.active {
  background-color: #0073e6; 
  color: white;
}

.filter {
  padding: 20px;
  background-color: #ffffff;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-description {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-skill {
  background-color: #e8f0f8;
  color: #0073e6;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-skill:hover {
  background-color: #d0e7ff;
}

.filter-skill.selected {
  background-color: #0073e6; 
  color: white; 
}

/* Project cards container */
.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 20px; /* Space between cards */
  padding: 20px;
  box-sizing: border-box;
}

/* Fine-tune for specific breakpoints */
@media (min-width: 768px) {
  .project-list {
    grid-template-columns: repeat(2, minmax(250px, 1fr)); /* 2 columns*/
  }
}

@media (min-width: 1300px) {
  .project-list {
    grid-template-columns: repeat(3, minmax(250px, 1fr)); /* 3 columns */
  }
}

/* Larger breakpoint for 4 columns */
@media (min-width: 2000px) {
  .project-list {
    grid-template-columns: repeat(4, minmax(250px, 1fr)); /* 4 columns*/
  }
}


.project-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  position: relative;
  color: #666;
}

.project-card img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  aspect-ratio: 4 / 2; 
  border-radius: 8px; 
  margin-bottom: 10px;
}

.project-card h2 {
  color: #333; 
  font-size: 22px;
  margin-bottom: 8px;
}

.project-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #666; 
}


.project-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.project-skills span {
  background-color: #e8f0f8;
  color: #0073e6;
  border-radius: 10px;
  padding: 2px 8px;
}

.view-more {
  background-color: #0073e6;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.view-more:hover {
  background-color: #005bb5;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  width: 80%; 
  max-width: 1500px;
  max-height: 90vh;
  overflow: auto;
}

.modal-content.pdf-viewer {
  width: 90%; 
  max-width: 1600px; 
}

.modal-content h2{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.modal-content img {
  max-width: 100%; 
  height: auto; 
  max-height: 400px; 
  display: block;
  margin: 0 auto; 
}

.modal-content.tableau-visual {
  width: 1024px; 
  max-height: 3500px; 
  max-width: 80%; 
  padding: 0;
  box-sizing: border-box;
  overflow: auto; 
}

.zoom-controls {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.zoom-controls button {
  font-size: 20px;
  padding: 5px 10px;
  background-color: #0073e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.zoom-controls button:hover {
  background-color: #005bb5;
}

.about-container {
  background-color: #ffffff; 
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px; 
  padding: 30px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  text-align: center; 
  color: #333; 
  
}

.about-container h2 {
  font-size: 24px; 
  margin-bottom: 20px; 
  color: #0073e6; 
}

.about-container p {
  font-size: 16px; 
  line-height: 1.6; 
}

/* Resume Container with Similar Styling to About Section */
.resume-container {
  background-color: #ffffff; 
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px; 
  padding: 30px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  text-align: left; /* Aligns all text to the left */
  color: #333;
  
}

/* Heading Styles for Resume Sections (e.g., Education, Experience) */
.resume-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #0073e6;
  text-align: center; /* Centers the section headings */
  border-bottom: 2px solid #e0e0e0; /* Optional: subtle border under headings */
  padding-bottom: 5px;
}

/* Subheading for Items within Each Section (e.g., Job Title, Degree) */
.resume-container h3 {
  font-size: 20px;
  color: #333;
  margin-top: 15px;
  font-weight: bold;
}

/* Paragraph Styling for Descriptions */
.resume-container p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.resume-container ul {
  margin: 10px 0 20px 20px; /* Space above, below, and indentation */
  padding: 0; /* Removes default padding */
  list-style-type: disc; /* Standard bullet points */
}

.resume-container ul li {
  font-size: 16px;
  line-height: 1.6; /* Spacing between lines for readability */
  color: #666;
  margin-bottom: 8px; /* Space between each bullet point */
}

/* Optional: Section Spacing */
.resume-section {
  margin-bottom: 25px; /* Adds spacing between each resume section */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #333;
  cursor: pointer;
  z-index: 10; 
}